@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.scroll-reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.scroll-reveal.active {
    animation: slideUp 0.6s ease-out forwards;
    opacity: 1;
    transform: translateY(0);
}
body {
    overflow-x: hidden;
    margin: 0;
}
/*FIRST SECTION*/
.about-header {
    height: 75vh;
    width: 100vw;
    background-image: url('/orig_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
/*SECOND SECTION*/
.about-container-1 {
    width: 100vw;
    height: 50vh;
    margin-top: 75vh;
    position: relative;
    background-color: #FDFAED;
}
.about-now-title{
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 100px;
}
.about-header h2{
    font-family: 'Inter';
    font-weight: 300;
    color: white;
    text-align: center;
}
/*THIRD SECTION*/
.child-container-1 {
    width: 100vw;
    height: 50vh;
    margin-top: 100vh;
    position: relative;
    background-color: #FDFAED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-6{
    height: 450px;
}
.learn-more {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FFAE42;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    display: inline-block;
}
.learn-more a{
    text-decoration: none;
    color: white;
}
.learn-more:hover {
    background-color: #eb982b;
}
.about-container{
    margin-left: 40px;
}
.sizzling{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #FFAE42;
}
.tag{
    margin: 0;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 40px;
    font-weight: 600;
    color: #1A1A1A;
}
.desc, .about-desc{
    font-family: 'Inter';
    color: #47392E;
    opacity: 0.7;
}
/*FOURTH SECTION*/
.child-container-2{
    margin-top: 20vh;
    padding: 75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFAE42;
}
/*FIFTH SECTION*/
.mission {
    margin-top: 10vh;
    background-color: #FDFAED;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission-section{
    margin-left: 40px;
}
.mission-section h2{
    font-family: 'Poppins';
    font-weight: 450;
    color: #1A1A1A;
}
.mission-section p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #47392E;
}
.line_1{
    margin-top: 40px;
}
/*SIXTH SECTION*/
.vision {
    margin-top: 10vh;
    background-color: #FDFAED;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.vision-section{
    margin-right: 40px;
}
.vision-section h2{
    font-family: 'Poppins';
    font-weight: 450;
    color: #1A1A1A;
}
.vision-section p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #47392E;
}
/*SEVENTH SECTION*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.logo-chatbot{
    width: 40px;
    height: 40px;
}
#chatbot-toggler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  border-radius: 50%;
  background: #FF8251;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#chatbot-toggler span{
  position: absolute;
  color: #fff;
}
#chatbot-toggler:hover{
  background: #d6683c;
}
.chatbot-popup {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  bottom: 90px;
  right: 35px;
  width: 420px;
  transform: scale(0.2);
  overflow: hidden;
  background: #FDFAED;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
  0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  font-family: 'Inter', sans-serif;
}
.container.show-chatbot .chatbot-popup{
  opacity: 1;
  transform: scale(0.65);
  pointer-events: auto;
}
.chatbot-popup .chat-header{
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #FF8251;
}
.chat-header .header-info{
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-info img{
  height: 50px;
  width: 50px;
  padding: 6px;
  flex-shrink: 0;
  border-radius: 50%;
}
.header-info .logo-text{
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}
.chat-header button{
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #FDFAED;
  cursor: pointer;
  font-size: 1.9rem;
  padding-top: 2px;
  margin-right: -10px;
  background: none;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.chat-header button:hover{
  background: #d6683c;
}
.chat-body{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 415px;
  margin-bottom: 82px;
  overflow-y: auto;
  padding: 25px 22px;
  scrollbar-width: thin;
  scrollbar-color: #FFAE42 transparent;
}
.chat-body .message{
  display: flex;
  gap: 11px;
  align-items: center;
}
.chat-body .message.error{
  color: #ff0000;
}
.chat-body .bot-message svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  flex-shrink: 0;
  fill: #fff;
  align-self: end;
  margin-bottom: 2px;
  background: #FF8251;
  border-radius: 50%;
}
.chat-body .message .message-text{
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 1.1rem;
}
.chat-body .bot-message .message-text{
  background: #F6F2FF;
  border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message{
  flex-direction: column;
  align-items: flex-end;
}
.chat-body .user-message .message-text{
  color: #fff;
  background: #FF8251;
  border-radius: 13px 13px 3px 13px;
}
.chat-footer{
  position: absolute;
  bottom: 0;
  width: 90%;
  background: #FDFAED;
  padding: 15px 22px 20px;
}
.chat-footer .chat-form{
  display: flex;
  align-items: center;
  background: #FDFAED;
  border-radius: 32px;
  outline: 1px solid #CCCCE5;
}
.chat-footer .chat-form:focus-within{
  outline: 2px solid #FF8251;
}
.chat-form .message-input{
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 47px;
  padding: 0 17px;
  font-size: 0.95rem;
}
.chat-form button{ 
  height: 35px;
  width: 35px;
  display: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.15rem;
  flex-shrink: 0;
  margin-right: 6px;
  border-radius: 50%;
  background: #FF8251;
  transition: all 0.3s ease-in-out;
}
.chat-form button:hover{
  background: #d6683c;
}
.chat-form .message-input:valid~button{
  display: block;
}

