@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.scroll-reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.scroll-reveal.active {
    animation: slideUp 0.6s ease-out forwards;
    opacity: 1;
    transform: translateY(0);
}
body {
    overflow-x: hidden;
    margin: 0;
}
/*FIRST SECTION*/
.menu-header {
    height: 75vh;
    width: 100vw;
    background-image: url('/orig_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}
/*SECOND SECTION*/
.menu-container-1 {
    width: 100vw;
    height: 50vh;
    margin-top: 85vh;
    position: relative;
    background-color: #FDFAED;
}
.menu-now-title{
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 100px;
}
.menu-header h2{
    font-family: 'Inter';
    font-weight: 300;
    color: white;
    text-align: center;
}
/*THIRD SECTION*/
.reg-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}
.reg-container h6 a{
    position: absolute;
    left: 20%;
    bottom: 15%;
    font-family: 'Inter';
    font-size: 16px;
    color: #1A1A1A;
    text-decoration: none;
}
.reg-container h6 a:hover{
    text-decoration: underline;
}
.prem-container{
    margin-top: 5vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}
.prem-container h6 a{
    position: absolute;
    left: 20%;
    bottom: 15%;
    font-family: 'Inter';
    font-size: 16px;
    color: #1A1A1A;
    text-decoration: none;
}
.prem-container h6 a:hover{
    text-decoration: underline;
}