@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.summary-body{
    margin: 0 10vw;
    display: flex;
    gap: 30px;
    background-color: #FDFAED;
    scrollbar-width: thin;
    scrollbar-color: #FFAE42 transparent;
}
.summary-container {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 1000px;
    max-height: 90vh;
    width: 50vw;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    animation: slideUp 0.6s ease-out forwards;
}
.summary-container h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #393939;
    margin-left: 30px;
}
.summary-container h2{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    color: #393939;
    margin-left: 30px;
}
.summary-container h3{
    font-family: 'Poppins';
    font-weight: 550;
    font-size: 18px;
    color: #FFAE42;
    margin-left: 30px;
}
.summary-container h4{
    font-family: 'Poppins';
    font-weight: 550;
    font-size: 18px;
    color: #393939;
    margin-left: 30px;
}
.payment-details {
    background-color: #FFAE42;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.6s ease-out forwards;
}
.payment-details h1{
    color: white;
    margin-left: 0;
}
.payment-details h4{
    color: white;
    font-family: 'Inter';
    font-weight: 500;
    margin: 0;
}
.payment-details h2{
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}
.payment-details h4 span{
    position: absolute;
    left: 70%;
    font-size: 16px;
}
.payment-details h2 span{
    position: absolute;
    left: 70%;
    font-size: 20px;
    font-weight: 700;
}
.summary-container2{
    height: 550px;
    width: 30vw;
}
.address-container{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    animation: slideUp 0.6s ease-out forwards;
}
.address-container h2, .mop-container h2{
    font-family: 'Poppins';
    font-weight: 600;
    color: #393939;
    margin: 0;
}
.address-container h4{
    font-family: 'Inter';
    font-weight: 600;
    color: #393939;
    opacity: 0.9;
    margin-bottom: 0;
}
.address-container p{
    font-family: 'Inter';
    font-weight: 500;
    color: #393939;
    opacity: 0.7;
    margin-top: 0;
    line-height: 30px;
}
.location{
    height: 300px;
    width: 100%;
    background-color: gray;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mop-container{
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 20px;
}
.mop-container h4{
    font-family: 'Inter';
    font-weight: 500;
    color: #393939;
    opacity: 0.7;
    margin-top: 0;
    line-height: 30px;
}
.payment-options {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Inter';
    color: #393939;
}
.payment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    font-size: 16px;
    position: relative;
}
.payment-option input {
    display: none;
}
.payment-icon {
    width: 28px;
    height: 28px;
}
.radio-circle {
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.check-icon {
    width: 25px;
    height: 25px;
}
.payment-option.active {
    border-color: orange;
}
.payment-option.active .radio-circle {
    background-color: white;
    border-color: white;
}
.confirm-button{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    background-color: #FFAE42;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.confirm-button:hover{
    background-color: #e79b37;
}
.terms{
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    color: #393939;
}
.terms u{
    cursor: pointer;
    font-weight: bold;
}
.summary-table {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
}
.summary-table td, .summary-table th {
    padding: 10px;
    text-align: center;
}
.summary-table td:nth-child(1) {
    width: 10%;
}
.summary-table td:nth-child(2) { 
    width: 40%;
    text-align: left;
}
.summary-table td:nth-child(3) {
    width: 30%;
    text-align: left;
}
.summary-table td:nth-child(4) {
    width: 20%;
    font-weight: bold;
}
td button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: bolder;
    width: 5px;
    color: #393939;
}
/* POP UP */
.popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}
.popup-overlay.show {
    opacity: 1;
    visibility: visible;
}
.terms-popup-content {
    background: #fff;
    padding: 50px;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-bottom: 20px;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    font-family: 'Inter';
}
.popup-overlay.show .terms-popup-content {
    transform: scale(1);
    opacity: 1;
}
.terms-popup-content h1{
    text-align: center;
    font-family: 'Inter';
    color: #1A1A1A;
}
.terms-popup-content h4{
    text-align: center;
    font-family: 'Inter';
    color: #1A1A1A;
    opacity: 0.5;
}
.terms-popup-content span{
    font-family: 'Inter';
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    color: #FFAE42;
    cursor: pointer;
}
.terms-popup-content p{
    font-family: 'Inter';
    font-weight: 400;
    color: #1A1A1A;
    line-height: 30px;
}
.terms-popup-content p b{
    color: #393939;
}
.ref-no{
    font-family: 'Inter';
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #1a1a1a56;
    width: 250px;
}
.ref-no:focus-within{
    border: 2px solid #FFAE42;
}
.confirm-order{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    background-color: #FFAE42;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px;
    width: 275px;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}
.confirm-order:hover{
    background-color: #e79b37;
}
.loader-button {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #FF8251;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.gcash-popup-content {
    background: #fff;
    padding: 50px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding-bottom: 20px;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    font-family: 'Inter';
}
.popup-overlay.show .gcash-popup-content {
    transform: scale(1);
    opacity: 1;
}
.gcash-popup-content h1{
    text-align: center;
    font-family: 'Inter';
    color: #1A1A1A;
}
.gcash-popup-content h4{
    text-align: center;
    font-family: 'Inter';
    color: #1A1A1A;
    opacity: 0.5;
}
.gcash-popup-content span{
    font-family: 'Inter';
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    color: #FFAE42;
    cursor: pointer;
}
.gcash-popup-content p{
    font-family: 'Inter';
    font-weight: 400;
    color: #1A1A1A;
    line-height: 30px;
}
.gcash-popup-content p b{
    color: #393939;
}