.select-body{
    margin: 0 10vw;
}
.row-1 {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
.row-1 div{
    margin-left: 30px;
}
.row-1 h2, .row-2 h2, .selected-meats h2{
    font-family: 'Poppins';
    font-weight: 500;
    color: #1A1A1A;
}
.row-1 h4{
    font-family: 'Inter';
    font-weight: 650;
    color: #737619;
}
.line{
    margin: 20px 0;
    opacity: 0.5;
    width: 100%;
}
.counter {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 10%;
    color: #47392E;
    font-family: 'Inter';
    font-size: 20px;
    cursor: pointer;
}
.meats {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 40px;
}
.meat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 150px;
    height: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-weight: 550;
    color: #47392E;
}
.meat-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.meat-card:hover {
    background-color: #737619;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.section-1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 40px;
    min-height: 100%;
}
.divider {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
/*SELECTED MEATS*/
.selected-meats {
    width: 500px;
}
.selected-meat {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: #f8f2e8a9;*/
}
.selected-meat button {
    position: absolute;
    right: 5%;
    background: none;
    border: none;
    color: #933F1E;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.selected-meat button:hover {
    background-color: #d9534f;
    color: white;
}
.selected-meats-container {
    max-height: 400px;
    overflow-y: auto;
}
.selected-meat {
    display: flex;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.selected-meat-icon {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.meat-label {
    font-size: 12px;
    padding: 2px 6px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.selected-meat img{
    border-radius: 50%;
}
.regular, .premium{
    color: #000000;
    opacity: 0.5;
    font-weight: 500;
    font-family: 'Inter';
}
.empty-message {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin: 20px 0;
    font-family: 'Poppins';
}  
/*ADD ONS*/
.add-ons-container {
    margin-left: 10px;
    width: 1000px;
}
.add-ons-container h2{
    font-family: 'Poppins';
    font-weight: 500;
    color: #1A1A1A;
}
.whole-section{
    display: flex;
}
.column-1{
    margin-top: 20px;
}
.kimchi{
    display: flex;
    align-items: center;
    margin-top: 0;
    gap: 20px;
}
.kimchi h4{
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-weight: 550;
    color: #1A1A1A;
}
.addons-price{
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #1A1A1A;
}
.counter-addons {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #47392E;
    font-family: 'Inter';
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.counter-addons img{
    width: 20px;
    height: 20px;
}